body {background-color:#c5a3d9ff;}
img{border:5px solid white;}
.header {background-color: #3C1C12ff;text-align: center;padding: 20px;}
.footer {background-color: #3C1C12ff;text-align: center;padding: 10px;}
@font-face {font-family: 'LEMONMILK-Bold'; src: url(LEMONMILK-Bold.otf)}
@font-face {font-family: 'THEBOLDFONT'; src: url(THEBOLDFONT.ttf)}
@font-face {font-family: 'Pragmatica-ExtraLight'; src: url(Pragmatica-ExtraLight.ttf)}
h1{color:#FDBD01;font-family:LEMONMILK-Bold;font-size:100px}
h2{color:#3C1C12ff;font-family:THEBOLDFONT;font-size:75px;text-align: center;}
h3{color:#63422Eff;font-family:THEBOLDFONT;font-size:36px;text-align: center;padding-top:25px;}
h4{color:#63422Eff;font-family:THEBOLDFONT;font-size:15px;}
h5{color:#63422Eff;font-family:THEBOLDFONT;font-size:50px;text-align: center;padding-top:25px;}
p{color:black;font-family:Pragmatica-ExtraLight;font-size:25px;text-align: center;margin-left:150px;margin-right:150px;}
.two{color:black;font-family:Pragmatica-ExtraLight;font-size:20px;text-align:center;padding-bottom:25px;}
.three{color:black;font-family:Pragmatica-ExtraLight;font-size:20px;padding-bottom:25px;}
li a {display: block;color: black;font-family:THEBOLDFONT;font-size:24px;text-align: center;padding: 14px 16px;text-decoration: none;}
ul {list-style-type: none;margin: 0;padding: 0;overflow: hidden;background-color: #FFFFFF;}
li {float: left;}
/* Change the link color to #E2C88Aff on hover */
li a:hover {background-color: #63422Eff;}
.active {background-color: #FDBD01;}
a:link {color: #3C1C12ff;}
mark {background-color: #04D9FF; color: black;}
/* Style the links inside the navigation bar */
    nav a {float: center; text-align: left; padding: 14px 16px; text-decoration: none;}
    
/* Remove the default list styles */
    ul {list-style: none; margin: 0; padding: 0;}
    
 /* Add some margin to the list items */
    li {margin-bottom: 10px:}

/* Two columns side by side */
.column {float: left;width: 48%; margin-bottom: 16px; padding: 0 8px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
  .column {width: 100%; display: block;}
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s; background-color: white;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container { background-color: white; padding: 2px 16px;}

/* Some left and right padding inside the container */
.container {background-color:white; padding: 0 16px;}

/* Add some basic styling for demonstration purposes */
    nav {
      background-color: white;
      color: #c5a3d9ff;
    }

    form {
      display: flex;
    }

    input[type="text"] {
      padding: 5px;
      margin-right: 5px;
    }

    input[type="submit"] {
      padding: 5px 10px;
      cursor: pointer;
    }
