body{background-color: white;}
img{border:5px solid white;}
.header {background-color: #3C1C12ff;text-align: center;padding: 20px;}
.footer {background-color: #3C1C12ff;text-align: center;padding: 10px;}
@font-face {font-family: 'LEMONMILK-Bold'; src: url(LEMONMILK-Bold.otf)}
@font-face {font-family: 'THEBOLDFONT'; src: url(THEBOLDFONT.ttf)}
@font-face {font-family: 'Pragmatica-ExtraLight'; src: url(Pragmatica-ExtraLight.ttf)}
h1{color:white;font-family:LEMONMILK-Bold;font-size:100px}
h2{color:black;font-family:THEBOLDFONT;font-size:36px;text-align: center;background-color: white; border:5px solid white;}
h3{color:black;font-family:THEBOLDFONT;font-size:24px; padding-left: 10px;}
p{color:black;font-family:Pragmatica-ExtraLight;font-size:24px;padding-left: 10px;padding-right: 10px;}
ul {list-style-type: none;margin: 0;padding: 0;overflow: hidden;background-color: #280040ff;}
li {float: left;}
li a {display: block;color: black;font-family:THEBOLDFONT;font-size:24px;text-align: center;padding: 14px 16px;text-decoration: none;}
/* Change the link color to #b380ffff on hover */
li a:hover {background-color: #b380ffff;}
.active {background-color: #5c17acff;}
a:link {color: #FF69B4;}
a:visited {color: white;}
img {float: left;}
mark {background-color: #04D9FF; color: black;}
/* Style the links inside the navigation bar */
    nav a {float: center; text-align: left; padding: 14px 16px; text-decoration: none;}
    
/* Remove the default list styles */
    ul {list-style: none; margin: 0; padding: 0;}
    
 /* Add some margin to the list items */
    li {margin-bottom: 10px:}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s; background-color: white;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container { background-color: white; padding: 2px 16px;}

div.scroll-container {
  background-color: #c5a3d9ff;
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
}

div.scroll-container img {
  padding: 10px;
}
.my-image {
  max-width: 100%;
  height: auto;
}

/* Add some basic styling for demonstration purposes */
    nav {
      background-color: white;
      color: #c5a3d9ff;
    }

    form {
      display: flex;
    }

    input[type="text"] {
      padding: 5px;
      margin-right: 5px;
    }

    input[type="submit"] {
      padding: 5px 10px;
      cursor: pointer;
    }
